<?xml version="1.0" encoding="utf-8"?>
<!--
        Copyright 2015-2016 GetSocial B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="im.getsocial.demo">

	<!-- Permissions required by GetSocial SDK -->
	<!-- INTERNET permission is required to communicate with GetSocial API -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- ACCESS_NETWORK_STATE permission is required to handle network connectivity changes -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!-- end of GetSocial SDK permissions -->

	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name=".gcm.permission.C2D_MESSAGE"/>

	<permission
			android:name=".gcm.permission.C2D_MESSAGE"
			android:protectionLevel="signature"/>

	<application
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">


		<meta-data
				android:name="com.google.android.gms.games.APP_ID"
				android:value="@string/google_services_app_id"/>

		<!-- Main activity will be merged depending on build flavor -->

		<activity
				android:name="com.facebook.FacebookActivity"
				android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
				android:label="@string/app_name"
				android:theme="@android:style/Theme.Translucent.NoTitleBar"
				tools:replace="android:theme"/>


		<receiver android:name="im.getsocial.sdk.invites.InstallReferrerReceiver">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER"/>
			</intent-filter>
		</receiver>

		<provider
				android:name="im.getsocial.sdk.invites.ImageContentProvider"
				android:authorities="${applicationId}.smartinvite.images.provider"
				android:exported="true"/>

		<meta-data
				android:name="com.facebook.sdk.ApplicationId"
				android:value="@string/facebook_app_id"/>

		<!-- <meta-data -->
		<!-- android:name="com.google.android.gms.version" -->
		<!-- android:value="@integer/google_play_services_version"/> -->
		<meta-data
				android:name="io.fabric.ApiKey"
				android:value="d17264f29ed88bb09608a1525b67b047f760af31"/>
		<meta-data
				android:name="com.kakao.sdk.AppKey"
				android:value="@string/kakao_app_key"/>

		<meta-data
				android:name="im.getsocial.sdk.AppId"
				android:value="@string/get_social_app_id" />

	</application>

</manifest>